# Buy Me a Coffee API Token
# Get your token at: https://developers.buymeacoffee.com/#authentication
# This token is used to fetch donation data for the support banner progress bars
VITE_BMC_API_TOKEN=your_bmc_api_token_here
