:root {
  --text: #eceff8;
  --background: #050810;
  --primary: #889cdd;
  --secondary: #1e347c;
  --accent: #3f62d8;
}

body {
  font-family: Arial, sans-serif;
  padding: 8px;
  width: 400px;
  color: var(--text);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: small;
}
h1 {
  font-size: 24px;
}
button {
  font-size: 14px;
  background-color: var(--primary);
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-inline: none;
}

.container {
  display: flex;
  width: full;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intensity-value {
  font-size: 14px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}
